<%
  now = DateTime.now
  month_to_show = params[:month] ? DateTime.parse(params[:month]) : DateTime.new(now.year, now.month, 1)
%>
<% has_role = User.current.admin || User.current.roles_for_project(@project).include?(Role.find_by(:name => 'Jefe de proyecto')) || User.current.roles_for_project(@project).include?(Role.find_by(:name => 'Administrativo Facturacion')) %>
<!-- Importacion del archivo css -->
<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'facturation', :plugin => 'facturacion_proyecto', media: 'all' %>
<% end %>
<!-- Logo Folder IT -->
<h2>Facturaci&oacute;n de <%= @project %></h2>
<div class="facturation-folder-logo">
  <%= image_tag('folder-it-logo-header-blog.png', :plugin => 'facturacion_proyecto') %>
</div>
<!-- Comentarios -->
<div>
  <p class="comment"><span>Comentarios sobre la facturaci&oacute;n del proyecto:</span><br/>
    <br/>
    <textarea class="facturation_comments" id="facturation_comments" cols="100" rows="3"></textarea>
  </p>
  <br/>
</div>
<!-- Fecha -->
<div class="mes">
  <label for="month">Mes:</label>
  <select name="change_month" id="month">
    <% @months.each do |m| %>
      <option value="<%= DateTime.new(m.tyear, m.tmonth) %>"><%= m.month_name(m.tmonth) + '/' + m.tyear.to_s %></option>
    <% end %>
    <% if @months.where(:tmonth => now.month, :tyear => now.year).length < 1 %>
      <option value="<%= DateTime.new(now.year, now.month, 1) %>" selected><%= TimeEntry.month_name(now.month) + '/' + now.year.to_s %></option>
    <% end %>
  </select>
</div>
<br/>
<!-- Tabla facturacion -->
<div style="overflow-x:auto;">
  <table class="population">
    <tr>
      <th class="persona">Persona</th>
      <th>Rate Hora</th>
      <th>Horas trabajadas</th>
      <th>Comentarios</th>
      <th>Total ($)</th>
      <th>Editar</th>
      <th class="log">Log</th>
      <th>Modificado por</th>
      <th>Fecha</th>
    </tr>
    <% for empleado in @project_active_members %>
      <tr class="data">
        
        <input type="hidden" id="projectId" name="projectId" value="<%= empleado.project_id %>">
        <input type="hidden" id="employeeId" name="employeeId" value="<%= empleado.user_id %>">
        
            
        <td class="table-user-name" id="table-user-name"></td>
        <td class="table-hour-rate" id="table-hour-rate"></td>
        <td class="table-horas-trabajadas" id="table-horas-trabajadas"></td>
        <td class="table-comment" id="table-comment"></td>
        <td class="table-total" id="table-total"><input id="input-total" class="input-total" type="number" name="total" readonly> </td>
        <td class="table-checkbox" id="table-checkbox"><input type="checkbox" class="checkbox_editar" id="checkbox_editar"></td>
        <td class="table-log" id="table-log"><input id="input-log" class="input-log" type="text" name="logged-by" readonly></td>
        
        <td class="table-user-name-modification" id="table-user-name-modification"></td>
        <td class="table-last-date-modification" id="table-last-date-modification"></td>
      </tr>
    <% end %>
  </table>
</div>
<br/>
<!-- Other concepts -->
<div class="div_concepts">
  <span>
    <p class="p_concepts"> Otros gastos: </p>
    <input placeholder="Motivo" class="input_concepts" id="input_concepts" name="input_concepts">
    <input placeholder="Monto ($)" class="input_concepts_monto"   id="input_concepts_monto" name="input_concepts_monto" type="number">
  </span>
</div>
<br/>
<!-- Monto total -->
<div class="monto-total">
  <span class="span-monto-total">
    <!--<button class="button_compute_total">Calcular Total</button>-->
    <button class="button_total" disabled>Total:</button>
    <input class="total_calculated" name="total_calculated" readonly>
  </span>
</div>
<br/>
<br/>
<div class="buttons-facturacion">
  <span>
    <!--<button class="button-facturar">Facturar</button>-->
    <label> ¿Bloquear Factura? 
        <input type="checkbox" class="checkbox_bloqueado" id="checkbox_bloqueado"/> 
    </label> 
    <label id='last_modification_date_bloqueado' class='last_modification_date_bloqueado'>     
    </label> 

    <button class="button-guardar">Guardar</button>
    <button class="button-descargar-excel">Descargar como Excel</button>
  </span>
</div>
<script>
  $(document).ready(function (<% @project_active_members %>) {
  
    getHours();
    calculateTotalBill();
    //computeTableTotal();
  
    <% if has_role %>
      initMonthChange();
    <% end %>
  
  
    function initMonthChange() {
      var $month = $('#month');
      $month.val('<%=DateTime.new(month_to_show.year, month_to_show.month) %>');
      $month.bind('change', function () {
        window.location.replace(/month/.test(window.location.search) ? getModifiedHref($month) : (window.location.href + '&month=' + $month.val().slice(0, 10)));
      });
      $('#hidden-month').text($month.children(":selected").text());
    }
  
    function getModifiedHref($month) {
      var currentLocation = window.location.href;
      var n = currentLocation.indexOf("month=");
      var i = currentLocation.indexOf("&project");
      if(i>n){
        return currentLocation.replace(currentLocation.substr(n, (i-n)), "month=" + $month.val().slice(0, 10));
      }else{
        return window.location.href.slice(0, -17) + '&month=' + $month.val().slice(0, 10);
      }
    }
  
  
    function getHours () {
      var all_rows = $('.data');
      employees_hours = [];
      employees_user = [];
      employees_hour_rate = []
      employees_comment = []
      employees_total_bill = []
      employees_log = []
      employees_user_name_modification = []
      employees_last_date_modification = []
      
      input_concepts = [];
      input_concepts_monto = [];
      facturation_comments = [];

      last_modification_date_bloqueado = []
      user_name_last_mod = []
      bloqueado = []

      <% fecha = params[:month] ? DateTime.parse(params[:month]) : DateTime.new(DateTime.now.year, DateTime.now.month, 1) %>
  
      <% @project_active_members.each do |empleado| %>
        <% hours = 0.0 %>
        <% hours = TimeEntry.where(user_id: empleado.user_id, project_id: empleado.project_id, tmonth: fecha.month, tyear: fecha.year).sum(&:hours) %>
        employees_hours.push('<%= hours %>');
        employees_user.push('<%= empleado.user %>');
        employees_hour_rate.push('<%=empleado.hour_rate %>');
        employees_comment.push('<%= empleado.comment %>');
        employees_total_bill.push('<%= empleado.total %>');
        employees_log.push('<%= empleado.log %>');
        employees_user_name_modification.push('<%= empleado.user_name_modification %>');
        employees_last_date_modification.push('<%= empleado.last_date_modification %>');
        

        input_concepts.push('<%= empleado.other_amounts_comments %>');
        input_concepts_monto.push('<%= empleado.other_amount_bill %>');
        facturation_comments.push('<%= empleado.general_comments %>');

        last_modification_date_bloqueado.push('<%= empleado.last_modification_date_bloqueado %>');
        user_name_last_mod.push('<%= empleado.user_name_last_mod %>');
        bloqueado.push('<%= empleado.bloqueado %>');

      <% end %>

  
      var index = 0;
      $(document).find('#input_concepts').attr('value',input_concepts[0]);
      $(document).find('#input_concepts_monto').attr('value',input_concepts_monto[0]);
      $(document).find('#facturation_comments').text(facturation_comments[0]);

      $(document).find('#last_modification_date_bloqueado').html('Ultima modificación: ' + last_modification_date_bloqueado[0] +' - '+ user_name_last_mod[0] );
      console.log('load data');
      console.log(last_modification_date_bloqueado[0]);

      if (bloqueado[0]){//if bloqueado true
        console.log('bloquedado true');
        $(document).find('#checkbox_bloqueado').attr('checked','checked');        
        $(document).find('#input_concepts').attr("disabled", true);
        $(document).find('#input_concepts_monto').attr("disabled", true);
        $(document).find('#facturation_comments').attr("disabled", true);

      } else {
        console.log('bloqueado false');
      }
      //$(document).find('#checkbox_bloqueado').attr('checked',bloqueado[0]);





      all_rows.each(function () {
        $(this).find('#table-horas-trabajadas').text(employees_hours[index]);

        $(this).find('#table-user-name').text(employees_user[index]);
        $(this).find('#table-hour-rate').text(employees_hour_rate[index]);
        $(this).find('#table-comment').attr('value',employees_comment[index]);
        $(this).find('#input-log').attr('value',employees_log[index]);
        $(this).find('#table-user-name-modification').text(employees_user_name_modification[index]);
        $(this).find('#table-last-date-modification').text(employees_last_date_modification[index]);

        if (bloqueado[index]){
          $(this).find('#checkbox_editar').attr("disabled", true);
        }

        if(employees_total_bill[index]){
          //if not null set value from db value
          $(this).find('#input-total').attr('value', employees_total_bill[index]);
        }else{
          //if value is null so not load in db never before (invoice never save)
          var rate = parseFloat(employees_hour_rate[index]);
          var hours = parseInt(employees_hours[index]);
          $(this).find('#input-total').attr('value', rate*hours);
        }

        index++;
      });
    }
  
    function computeTableTotal() {
      var all_rows = $('.data');
  
      all_rows.each(function () {
        var rate_data = $(this).find('#table-hour-rate');
        var worked_hours_data = $(this).find('#table-horas-trabajadas');
  
        var rate = parseFloat(rate_data.text());
        var hours = parseInt(worked_hours_data.text());
  
        $(this).find('#input-total').attr('value', rate*hours);
        //$(this).find('#input-total').text(rate*hours);
      });
    }

    function calculateTotalBill() {      
      var all_rows = $('.data');
      total_bill_table = 0.0
      all_rows.each(function () {
        total_bill_table += parseFloat($(this).find('.input-total').val());
      })
      others_amounts = $(document).find('.input_concepts_monto').val();
      console.log(others_amounts);
      if (others_amounts.length  != 0){
        total_bill_table = total_bill_table + parseFloat(others_amounts);
      }
      $(document).find('.total_calculated').val(total_bill_table);      
    }

    //
    $('.input-total').change( () => calculateTotalBill());
    $('.input_concepts_monto').change( () => calculateTotalBill());
  });
</script>



<script type="text/javascript">
  $('table tr').click( function() {
    var tr = $(this).closest('tr');
    var check = $(this).find('input[type=checkbox]');
  
    if (check.is(":checked")){
      tr.find(".input-total").removeAttr("readonly");
      tr.find(".input-log").removeAttr("readonly");
      tr.find(".input-total").css('background-color', 'white');
      tr.find(".input-total").css('border-color', '#dddddd');
      tr.find(".input-log").css('background-color', 'white');
      tr.find(".input-log").css('border-color', '#dddddd');
    } else {
      tr.find(".input-total").attr("readonly", true);
      tr.find(".input-log").attr("readonly", true);
      tr.find(".input-total").css('background-color', 'transparent');
      tr.find(".input-total").css('border', 'none');
      tr.find(".input-log").css('background-color', 'transparent');
      tr.find(".input-log").css('border', 'none');
    }
  });
</script>

<script type="text/javascript">
  //$(document).find('.button_total').hide();
  //$(document).find('.total_calculated').hide();  
  $(document).on('click', '.button_compute_total', function computeTotal() {
    $(document).find('.button_total').show();
    $(document).find('.total_calculated').show();
  
    var all_rows = $('.data');
    var total = 0.0;
  
    all_rows.each(function () {
      var input_total = $(this).find('.input-total');
      var value = input_total.val();
      total += parseFloat(value);
    })
  
    var other_concepts = $(document).find('.input_concepts_monto');
    var other_concepts_monto = other_concepts.val();
    if (other_concepts_monto.length != 0) {
      total += parseFloat(other_concepts_monto);
    }
  
    $(document).find('.total_calculated').attr('value', total);
  
  
  
  
    /*$('.input-total').change(function() {
      var tr = $(this).closest('tr');
      var check = tr.find('#checkbox_editar');
  
      if (check.is(":checked")){
        var table_input_total = tr.find('.input-total');
        var input_value = table_input_total.val();
        total += parseFloat(input_value);
      }
  
      $(document).find('.total_calculated').val(total);
    });*/
  
  
    /*$('input[name=input_concepts_monto]').change(function() {
      var other_concepts = $(document).find('.input_concepts_monto');
      var other_concepts_monto = other_concepts.val();
  
      if (other_concepts_monto.length != 0) {
        total += parseFloat(other_concepts_monto);
      }
  
      $(document).find('.total_calculated').val(total);
    });*/


  });
  
  
  
  //TODO en un futuro cercano
  $(document).on('click', '#checkbox_bloqueado', function () {

    var checkbox_bloqueado = $(document).find('#checkbox_bloqueado').attr('checked');
    var all_rows = $('.data');
    if (checkbox_bloqueado){
      $(document).find('#facturation_comments').attr("disabled", true);
      $(document).find('#input_concepts_monto').attr("disabled", true);
      $(document).find('#input_concepts').attr("disabled", true);
      all_rows.each(function(index){
        $(this).find('#checkbox_editar').attr("disabled", true);
      });      
    }else{
      $(document).find('#facturation_comments').removeAttr("disabled");
      $(document).find('#input_concepts_monto').removeAttr("disabled");
      $(document).find('#input_concepts').removeAttr("disabled");
      all_rows.each(function(index){
        $(this).find('#checkbox_editar').removeAttr("disabled");
      });
    }      
  });
  

  $(document).on('click', '.button-guardar', function() {

    var all_rows = $('.data');
    rows = [];
    all_rows.each(function(index){
      var employeeId = $(this).find('#employeeId').val();
      var projectId = $(this).find('#projectId').val();
      var input_total_bill = $(this).find('#input-total').val();
      var log_comment = $(this).find('#input-log').val();
      var input_concepts = $(document).find('#input_concepts').val();
      var input_concepts_monto = $(document).find('#input_concepts_monto').val();
      var facturation_comments = $(document).find('#facturation_comments').val();
      var checkbox_editar = $(this).find('#checkbox_editar').attr('checked');
      var checkbox_bloqueado = $(document).find('#checkbox_bloqueado').attr('checked');

      console.log(employeeId);
      console.log(projectId);
      console.log(input_total_bill);
      console.log(log_comment);
      console.log(input_concepts);
      console.log(input_concepts_monto);
      console.log(facturation_comments);
      console.log(checkbox_editar);
      console.log(checkbox_bloqueado);

      var $row = $(index);
      rows.push(
          {employeeId:employeeId, projectId:projectId, input_total_bill : input_total_bill, log_comment : log_comment, input_concepts: input_concepts,input_concepts_monto:input_concepts_monto,facturation_comments:facturation_comments, checkbox_editar: checkbox_editar, checkbox_bloqueado: checkbox_bloqueado }
      );      
    });
    console.log(rows);
    $.ajax({
      url: 'facturacion/update_project_assigned_user_total_bill',
      type: 'PUT',
      data: {rows},}) 
        .done(function(message) {
          var message = message.message;
          alert(message);
        })
        .fail(function(jqXHR, textStatus, error) {
          alert("Status: " + textStatus + ". Error: " + error);
        });
     
    //TODO: 
    //$(this).parents('tr').remove();
    //location.reload();
  });

  
  $(document).on('click', '.button-descargar-excel', function () {
  
  });
</script>
