<!-- Importacion del archivo css -->
<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'facturation', :plugin => 'facturacion_proyecto', media: 'all' %>
<% end %>
<!-- Logo Folder IT -->
<h2>Facturaci&oacute;n <%= @project %></h2>
<div class="facturation-folder-logo">
  <%= image_tag('folder-it-logo-header-blog.png', :plugin => 'facturacion_proyecto') %>
</div>
<!-- Comentarios -->
<div>
  <p class="comment"><span>Comentarios sobre la facturaci&oacute;n del proyecto:</span><br/>
    <br/>
    <textarea class="comment" id="facturation_comments" cols="100" rows="3"></textarea>
  </p>
  <br/>
</div>
<!-- Fecha -->
<div class="mes">
  <% now = DateTime.now %>
  <label for="month">Mes/A&ntilde;o:</label>
  <select name="change_month" id="month">
    <% @months.each do |m| %>
      <option value="<%= DateTime.new(m.tyear, m.tmonth) %>"><%= m.month_name(m.tmonth) + '/' + m.tyear.to_s %></option>
    <% end %>
    <% if @months.where(:tmonth => now.month, :tyear => now.year).length < 1 %>
      <option value="<%= DateTime.new(now.year, now.month, 1) %>" selected><%= TimeEntry.month_name(now.month) + '/' + now.year.to_s %></option>
    <% end %>
  </select>
</div>
<br/>
<!-- Tabla facturacion -->
<div style="overflow-x:auto;">
  <table class="population">
    <tr>
      <th>Persona</th>
      <th>Rate Hora</th>
      <th>Horas trabajadas</th>
      <th>Comentarios</th>
      <th>Total</th>
      <th>Editable</th>
      <th>Log</th>
    </tr>
    <% for @empleado in @empleados_facturation %>
      <tr>
        <td class="table-user-name" id="table-user-name"> <%= @empleado.user %> </td>
        <td class="table-hour-rate" id="table-hour-rate"> <%= @empleado.hour_rate %> </td>
        <td class="table-horas-trabajadas" id="table-horas-trabajadas"> </td>
        <td class="table-comment" id="table-comment"> <%= @empleado.comment %> </td>
        <td class="table-total" id="table-total"> <input class="input-total" type="text" name="total" readonly> </td>
        <td class="table-checkbox" id="table-checkbox"> <input type="checkbox" id="population"> </td>
        <td class="table-log" id="table-log"> <input class="input-log" type="text" name="logged-by" readonly> </td>
      </tr>
    <% end %>
  </table>
</div>
<br/>
<!-- Other concepts -->
<div class="div_concepts">
  <span>
    <p class="p_concepts"> Otros gastos: </p>
    <textarea placeholder="Motivo/s" class="text_area_concepts" cols="80" rows="1"> </textarea>
    <textarea placeholder="Monto $" class="text_area_concepts_monto" cols="10" rows="1"> </textarea>
  </span>
</div>
<br/>
<!-- Monto total -->
<div class="monto-total">
  <span class="span-monto-total">
    <button class="button_total" disabled> Total: </button>
    <textarea class="total_calculated" readonly> </textarea>
  </span>
</div>
<br/>
<br/>
<div class="buttons-facturacion">
  <span>
    <button class="button-facturar"> Facturar </button>
    <button class="button-guardar"> Guardar </button>
    <button class="button-descargar-excel"> Descargar como Excel </button>
  </span>
</div>
<script type="text/javascript">
  $('table tr').click( function() {
    var tr = $(this).closest('tr');
    var check = $(this).find('input[type=checkbox]');
  
    if (check.is(":checked")){
      tr.find(".input-total").removeAttr("readonly");
      tr.find(".input-log").removeAttr("readonly");
    } else {
      tr.find(".input-total").attr("readonly", true);
      tr.find(".input-log").attr("readonly", true);
    }
  });
</script>
<script type="text/javascript">
  $(document).on('click', '.button-facturar', function () {
  
  });
  
  $(document).on('click', '.button-guardar', function () {
  
  });
  
  $(document).on('click', '.button-descargar-excel', function () {
  
  });
</script>
